mixin tourCard(tour)
    .card.text-secondary.h-100
        div.position-relative
            a(href=`tours/${tour.slug}`)
                img.card-img-top.img-fluid(src= tour.imageCover)
                h3.fw-bold.fs-3.text-white.position-absolute.top-50.start-50.translate-middle.p-1.text-end
                    span.p-1(style='-webkit-box-decoration-break: clone; box-decoration-break: clone; background-image: linear-gradient(\n' +
                '    to bottom right,\n' +
                '    rgba(70, 25, 255, 0.85),\n' +
                '    rgba(35, 131, 255, 0.85)\n' +
                '  );')= tour.name
        .card-header.h-100
            p.fst-italic= tour.summary
        ul.list-group.list-group-flush
            li.list-group-item
                i.bi.bi-pin-map-fill.p-3.text-primary.fs-3
                span.text-uppercase= tour.location.description
            li.list-group-item
                i.bi.bi-bar-chart-fill.p-3.text-primary.fs-3
                span.text-uppercase= tour.difficulty
            li.list-group-item
                i.bi.bi-pin-map-fill.p-3.text-primary.fs-3
                span.text-uppercase= tour.location.description
            li.list-group-item
                i.bi.bi-bar-chart-fill.p-3.text-primary.fs-3
                span.text-uppercase= tour.difficulty
            li.list-group-item
                i.bi.bi-clock-fill.p-3.text-primary.fs-3
                span.text-uppercase= `${tour.duration} ${tour.duration === '1' ? 'day' : 'days'}`
            li.list-group-item
                i.bi.bi-star.p-3.text-primary.fs-3
                span.text-uppercase= `${tour.averageRating ? tour.averageRating : 'N/A'}`
            li.list-group-item
                i.bi.bi-people.p-3.text-primary.fs-3
                span.text-uppercase= tour.maxGroupSize + ' people'
            li.list-group-item
                i.bi.bi-currency-dollar.p-3.text-primary.fs-3
                if tour.priceDiscount
                    span.text-uppercase.text-decoration-line-through= tour.price
                    span.text-uppercase.fs-3= ` ${tour.price - tour.priceDiscount}`
                else
                    span.text-uppercase.fs-3= tour.price
        a.card-footer.btn.d-block.fw-bold.fs-4.text-bg-primary(href=`tours/${tour.slug}`) Details


