extends baseProfile

block profilePage
    if bookings.length
        .row
            each booking in bookings
                .d-flex.flex-row.align-items-center.gap-5.my-3.p-4.bg-white
                    a(href=`/tours/${booking.tourId.slug}`)
                        h5.fw-bold.p-1.text-end= booking.tourId.name
                    if booking.isPaid
                        span.badge.text-bg-success Paid
                    else
                        span.badge.text-bg-warning Unpaid
                    button.btn.btn-danger.ms-auto(type='button' data-bs-toggle='modal' data-bs-target=`#deleteBookingModal-${booking.id}`) Delete
                .modal.fade(id=`deleteBookingModal-${booking.id}` tabindex='-1' aria-labelledby=`deleteBookingModal-${booking.id}` aria-hidden='true')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h1.modal-title.fs-5(id=`deleteBookingModalLabel-${booking.id}`) Delete booking?
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                p You can not revert this action.
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                                button.btn.btn-danger.delete-booking-btn(data-booking_id=booking.id type='button') Delete booking
    else
        h5 You have not booked a tour yet
        a.btn.btn-secondary.btn-lg.mt-3(href='/tours') Pick a tour
