extends baseProfile

block profilePage
    if reviews.length
        each review in reviews
            .d-flex.flex-row.align-items-center.gap-5.my-3.p-4.bg-white
                a(href=`/tours/${review.tourId.slug}`)
                    h5.fw-bold.p-1.text-end= review.tourId.name
                p.mb-0.mx-auto.text-wrap= review.text
                - let stars = review.rating
                span
                    while stars > 0
                        i.bi.text-primary.fs-4.p-1.bi-star
                        - stars--
                button.btn.btn-danger.ms-auto(type='button' data-bs-toggle='modal' data-bs-target=`#deleteReviewModal-${review.id}`) Delete
                .modal.fade(id=`deleteReviewModal-${review.id}` tabindex='-1' aria-labelledby=`deleteTourModal-${review.id}` aria-hidden='true')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h1.modal-title.fs-5(id=`deleteReviewModalLabel-${review.id}`) Delete review?
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .modal-body
                                p You can not revert this action.
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                                button.btn.btn-danger.delete-review-btn(data-review_id=review.id type='button') Delete review
    else
        h5 You have no reviews for now
        a.btn.btn-secondary.btn-lg.mt-3(href='/tours') Pick a tour to leave a review