extends baseProfile

block profilePage
    if tours.length
        each tour in tours
            .d-flex.flex-row.align-items-center.gap-5.my-3.p-4.bg-white
                a.me-auto(href=`/tours/${tour.slug}`)
                    h5.fw-bold.p-1.text-end= tour.name
                a.btn.btn-secondary.text-decoration-none(href=`/tours/edit/${tour.id}`) Edit
                button.btn.btn-danger(type='button' data-bs-toggle='modal' data-bs-target=`#deleteTourModal-${tour.slug}`) Delete
            .modal.fade(id=`deleteTourModal-${tour.slug}` tabindex='-1' aria-labelledby=`deleteTourModal-${tour.slug}` aria-hidden='true')
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5(id=`deleteTourModalLabel-${tour.slug}`) Delete tour?
                            button.btn-close( type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            p You can not revert this action.
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                            button.btn.btn-danger.delete-tour-btn(data-tour=tour.slug type='button') Delete tour
    else
        h5 You have no created tours
        a.btn.btn-secondary.btn-lg.mt-3(href='/tours/create') Create your first tour

