extends base

block content
    #tour-map.position-absolute.top-0.bottom-0.w-100.z-n1.opacity-50(data-location= `${JSON.stringify(tour.startLocation)}`)
    section.container.mt-5
        .row.p-3
            h1.fw-bold.text-white.text-end
                span.p-1(style='-webkit-box-decoration-break: clone; box-decoration-break: clone; background-image: linear-gradient(\n' +
                '    to bottom right,\n' +
                '    rgba(70, 25, 255, 0.85),\n' +
                '    rgba(35, 131, 255, 0.85)\n' +
                '  );')= tour.name
        .row
            .col-6.bg-light.p-3.text-secondary
                .row.row-gap-3
                    .row
                        h3 Description
                        p= tour.description
                    .row
                        h3 Location description
                            i.bi.bi-pin-map-fill.p-3.text-primary.fs-3
                        span.text-uppercase= tour.startLocation.description
                    .row
                        h3 Duration
                            i.bi.bi-clock-fill.p-3.text-primary.fs-3
                        span.text-uppercase= `${tour.duration} ${tour.duration === '1' ? 'day' : 'days'}`
                    .row
                        h3 Difficulty
                            i.bi.bi-bar-chart-fill.p-3.text-primary.fs-3
                        span.text-uppercase= tour.difficulty
                    .row
                        h3 Participants
                            i.bi.bi-people.p-3.text-primary.fs-3
                        span.text-uppercase= tour.maxGroupSize + ' people'
                    .row
                        .col
                            h3 Price
                                i.bi.bi-currency-dollar.p-3.text-primary.fs-3
                            span.text-uppercase= tour.priceDiscount ? `${tour.price - tour.priceDiscount}` : `${tour.price}`
                        .col.align-self-center.justify-self-end.text-end
                            if user
                                button.btn.btn-lg.btn-primary.create-checkout-session(type='button') Book a tour
                            else
                                p.
                                    To book a tour please #[a(href='/login') Log in]
    section.container-sm.mt-5.text-secondary
        .row.p-3.bg-light
            h3 Leave a review
            input.


