extends base

mixin tourInputField(inputId, labelText, helperId, helperText)
    .mb-3
        label.form-label(for= inputId)= labelText
        input.form-control(id= inputId name= inputId aria-describedby= helperId)&attributes(attributes)
        p.form-text(id= helperId)= helperText

block content
    .container.p-4
        h1.text-secondary.text-center Edit My Tour
        form.mt-5.p-3.edit-tour-form(data-tour_id=tourToEdit.id)
            .row.g-3
                .row.border.rounded-3.p-3.my-3
                    .col-6
                        +tourInputField('name', 'Tour Name', 'nameHelp', 'Must be 10 to 40 characters.')(required type='text' minlength='10' maxlength='40' value= tourToEdit.name)
                    .col-6
                        +tourInputField('summary', 'Summary', 'summaryHelp', 'Describe your tour in one sentence.')(required type='text' value= tourToEdit.summary)
                .row.p-3.my-3.border.rounded-3
                    +tourInputField('description', 'Description', 'descriptionHelp', 'Give user colorful and interesting information about your tour.')(required type='text' value= tourToEdit.description)
                .row.border.rounded-3.p-3.my-3
                    .col-4
                        +tourInputField('price', 'Price', 'priceHelp', 'Tour price in USD.')(required type='number' step='1' min='1' value= tourToEdit.price)
                    .col-4
                        +tourInputField('priceDiscount', 'Price Discount', 'priceDiscountHelp', 'You can add discount later in tour details.')(type='number' step='1' min='1' value= tourToEdit.priceDiscount)
                    .col-4
                        +tourInputField('maxGroupSize', 'Max group size', 'maxGroupSizeHelp', 'Max people to join the tour.')(required type='number' step='1' min='1' value= tourToEdit.maxGroupSize)
                .row.border.rounded-3.p-3.my-3
                    .col-6
                        .mb-3
                            label.form-label(for='duration') Duration (days)
                            select#duration.form-select(required name='duration' aria-describedby='durationHelp')
                                option(disabled) Select duration
                                each val in ["1","2","3","4","5"]
                                    if val == tourToEdit.duration
                                        option(value=val selected=val)= val
                                    else
                                        option(value=val)= val
                            p#durationHelp.form-text Consecutive days in the tour.
                    .col-6
                        .mb-3
                            label(for="difficulty" class="form-label") Difficulty
                            select#difficulty(required name="difficulty" class="form-select" aria-describedby="difficultyHelp")
                                option(disabled) Select difficulty
                                each difficulty in ['Easy', 'Medium', 'Difficult']
                                    if difficulty.toLowerCase() === tourToEdit.difficulty
                                        option(value=difficulty.toLowerCase() selected=difficulty)= difficulty
                                    else
                                        option(value=difficulty.toLowerCase())= difficulty
                            p#difficultyHelp.form-text Difficulty of the tour.
            .row
                h3.text-secondary.mt-5 Start Location
                .row.border.rounded-3.p-3.my-3
                    .col-6
                        +tourInputField('locDesc', 'Start location description', 'startLocDescHelp', 'Describe start location')(required type='text' value=tourToEdit.location.description)
                    .col-6
                        +tourInputField('locImg', 'Start location image', 'startLocImgHelp', 'Upload one photo')(type='file' accept='image/*' name='startLocImg')
                    .row
                        .position-relative(style="height:500px")
                            #tour-edit-map.position-absolute.top-0.bottom-0.w-100.border.rounded-3(data-location =`${JSON.stringify(tourToEdit.location)}`)
                            input#locLat(hidden type='text')
                            input#locLng(hidden type='text')
            input.btn.btn-primary.btn-lg.ml-auto.text-end.edit-tour-btn(type='submit' value='Save changes')