extends base

mixin ratingStar(id, value)
    input(type="radio" id= id name="rating" value= value)
    label(for= id)
        i.bi.bi-star-fill

mixin tourItem(headerText, iconClass, text)
    h4= headerText
    p.align-middle
        i.bi.text-primary.fs-4.p-1(class= iconClass)
        | #{text}


block content
    #tour-map.position-absolute.top-0.bottom-0.w-100.z-n1.opacity-50(data-location=`${JSON.stringify(tour.location)}`)
    section.container.mt-5
        .row
            .col-6.bg-light.p-3.text-secondary
                .vstack.p-2
                    +tourItem('Description', 'bi-body-text', tour.description)
                    +tourItem('Location', 'bi-pin-map-fill', tour.location.description)
                    +tourItem('Duration','bi-clock-fill', `${tour.duration} ${tour.duration === '1' ? 'day' : 'days'}`)
                    +tourItem('Difficulty','bi-bar-chart-fill', tour.difficulty.toUpperCase())
                    h4 Participants
                    p.align-middle
                        i.bi.text-primary.fs-4.p-1(class= 'bi-people')
                        | #{tour.maxGroupSize + ' people'}
                        each booking in tour.bookings
                            img.img-fluid(src=booking.ownerId.photo style='width:30px;border-radius:50%;')
                    +tourItem('Rating','bi-star', `${tour.averageRating ? tour.averageRating : 'N/A'}`)
                    +tourItem('Price','bi-currency-dollar', `${tour.price - tour.priceDiscount}`)
                    h4 Guide
                    a.text-decoration-none.text-secondary(href=`/users/${tour.ownerId.id}`)
                        i.bi.bi-person-walking.fs-4.p-1.text-primary
                        | #{tour.ownerId.email}
                    div.ms-auto
                        if (user && tour.bookings.length < tour.maxGroupSize)
                            form.create-checkout-session-form
                                button.btn.btn-lg.btn-primary(type='submit') Book a tour
                        else if !user
                            p.m-0.
                                To book a tour please #[a(href='/login') Log in]
                        else
                            p Tour is full!
            .col-6
                h1.fw-bold.text-white.text-end
                    span.p-1(style='-webkit-box-decoration-break: clone; box-decoration-break: clone; background-image: linear-gradient(\n' +
                    '    to bottom right,\n' +
                    '    rgba(70, 25, 255, 0.85),\n' +
                    '    rgba(35, 131, 255, 0.85)\n' +
                    '  );')= tour.name
    if tour.reviews && tour.reviews.length
        section.container-sm.text-secondary.bg-light.p-3.mt-5
            each review in tour.reviews
                .d-flex.flex-row.align-items-center.gap-5.my-3.p-1.justify-content-center
                    img.rounded-circle(src=review.ownerId.photo alt="User Image" width="50" height="50")
                    span.badge.text-bg-secondary= review.ownerId.email
                    p.mb-0.me-auto= review.text
                    - let stars = review.rating
                    span
                        while stars > 0
                            i.bi.text-primary.fs-4.p-1.bi-star
                            - stars--
    section.container-sm.my-5.text-secondary.bg-light.p-3
        h3 Leave a review
        if user && user.id === tour.ownerId.id
            p You can not review your own tour!
        else if !user
            p.m-0.
                To leave a review please #[a(href='/login') Log in]
        else
            form.form-group#submit-review(data-tour=tour.id)
                .row.gap-3
                    .col
                        input#reviewText.form-control(required type='text' name='review' minlength='10')
                        label.form-label(for='reviewText') Must be at least 10 characters
                    .col
                        h3.m-0 Rate this tour
                        .star-rating
                            each val in ["5","4","3","2","1"]
                               +ratingStar(`star-${val}`, val)
                    .row
                        .col-4
                            input.btn.btn-lg.btn-primary(type='submit' value='Submit review')


